HOST=localhost
DATABASE_HOST=db
DATABASE_ROOT_PASSWORD=root
DATABASE_NAME=share_movies
DATABASE_PASSWORD=root
DATABASE_USERNAME=root
DATABASE_PORT=3306
REDIS_HOST=redis
REDIS_PORT=6379
RAILS_ENV=development
ELASTICSEARCH_URL=http://elasticsearch:9200
LOGSTASH_HOST=localhost
