body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.justify-end {
  justify-content: end;
}

.justify-content {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between-center {
  justify-content: space-between;
}

.w-80 {
  width: 80%;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.text-red {
  color: red;
}

.flex-column {
  flex-direction: column;
}

.cursor-pointer {
  cursor: pointer;
}

.height-50 {
  height: 15px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
  }

  div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;

    &:after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      margin: -3px 0 0 -3px;
    }

    &:nth-child(1) {
      animation-delay: -0.036s;

      &:after {
        top: 50px;
        left: 50px;
      }
    }

    &:nth-child(2) {
      animation-delay: -0.072s;

      &:after {
        top: 54px;
        left: 45px;
      }
    }

    &:nth-child(3) {
      animation-delay: -0.108s;

      &:after {
        top: 57px;
        left: 39px;
      }
    }

    &:nth-child(4) {
      animation-delay: -0.144s;

      &:after {
        top: 58px;
        left: 32px;
      }
    }

    &:nth-child(5) {
      animation-delay: -0.18s;

      &:after {
        top: 57px;
        left: 25px;
      }
    }

    &:nth-child(6) {
      animation-delay: -0.216s;

      &:after {
        top: 54px;
        left: 19px;
      }
    }

    &:nth-child(7) {
      animation-delay: -0.252s;

      &:after {
        top: 50px;
        left: 14px;
      }
    }

    &:nth-child(8) {
      animation-delay: -0.288s;

      &:after {
        top: 45px;
        left: 10px;
      }
    }
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.border-none {
  border: none !important;
}

.txt-error {
  color: #f5781a;
}

.ipt-error {
  background-color: #fef8e0 !important;
  border-bottom: 1px #f78e40 solid !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}